###############################
# Core EditorConfig Options   #
###############################
root = true

# All files
[*]
indent_style = space

# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
insert_final_newline = true
charset = utf-8-bom

###############################
# .NET Coding Conventions     #
###############################
[*.{cs,vb}]
csharp_space_after_keywords_in_control_flow_statements = true:warning
csharp_prefer_braces = true:error
